USE [_Desktop]
GO
/****** Object:  StoredProcedure [dbo].[SofIA_ProcesarEventoCompleto]    Script Date: 13/10/2025 07:42:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[SofIA_ProcesarEventoCompleto]
    @idCta INT,
    @cAlarma NVARCHAR(10),
    @cObservaciones NVARCHAR(500),
    @cData NVARCHAR(MAX),
    @cZona NVARCHAR(50) = '',
    @formato NVARCHAR(100) = '',
    @postImages NVARCHAR(500) = NULL,
    @cUser NVARCHAR(50) = 'SISTEMA',
    @rec_norigen INT = 5,
    @cDll NVARCHAR(50) = 'SofIA'
AS
BEGIN
    DECLARE @cue_clinea NVARCHAR(50), @ccuenta NVARCHAR(50)
    SELECT @cue_clinea = cue_clinea, @ccuenta = cue_ncuenta
    FROM _Datos..m_cuentas WHERE cue_iid = @idCta;

    DECLARE @rec_id INT;

    -- 1) Generar evento en AlarmaGenerar
    EXEC dbo.AlarmaGenerar
        @idCta          = @idCta,
        @cAlarma        = @cAlarma,
        @cObservaciones = @cObservaciones,
        @cContenido     = @cData,
        @idUsuario      = 0,
        @rec_norigen    = @rec_norigen,
        @cUser          = @cUser,
        @cDll           = @cDll,
        @cZona          = @cZona,
        @rec_iid        = @rec_id OUTPUT;

    -- 2) Asociar video con IPRS_VideoLinkParser
    -- Solo asociar multimedia si viene valor y no está vacío
	IF (@postImages IS NOT NULL AND LTRIM(RTRIM(@postImages)) <> '')
	BEGIN
		EXEC _Desktop.dbo.IPRS_VideoLinkParser
			@iRecID     = @rec_id,
			@idCta      = @idCta,
			@cAlarma    = @cAlarma,
			@cZona      = @cZona,
			@clinea     = @cue_clinea,
			@ncuenta    = @ccuenta,
			@cDll       = @cDll,
			@postImages = @postImages,
			@formato    = '';
	END
END
