USE [_Desktop]
GO
/****** Object:  StoredProcedure [dbo].[SofIA_PacketProcesor]    Script Date: 13/10/2025 07:42:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[SofIA_PacketProcesor]
    @rec_iid INT,
    @codaccion NVARCHAR(50),
    @cue_iid NVARCHAR(100) = NULL,
    @estado NVARCHAR(50),
    @detalle NVARCHAR(MAX) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @accionId INT;
    DECLARE @cUser NVARCHAR(50) = 'SISTEMA';
    DECLARE @cData NVARCHAR(MAX) = @detalle;
    DECLARE @rec_norigen INT = 5;
    DECLARE @cObservaciones NVARCHAR(500);
    DECLARE @cAlarma VARCHAR(10);
    DECLARE @cDll NVARCHAR(50) = 'SofIA';
    DECLARE @cZona NVARCHAR(50) = '';
    DECLARE @postImages NVARCHAR(500) = '';

    -- Validar si detalle es JSON antes de extraer datos
    IF ISJSON(@detalle) = 1
    BEGIN
        SET @cZona = ISNULL(JSON_VALUE(@detalle,'$.camara.zona'),'');
        SET @postImages = JSON_VALUE(@detalle,'$.detector_result.output_image')+','+JSON_VALUE(@detalle,'$.detector_result.output_video');
    END

    -- Log acción
    INSERT INTO _datos..p_sofia_accion (sof_reciid, sof_ccodaccion, sof_cueiid, sof_cestado, sof_cdetalle)
    VALUES (@rec_iid, @codaccion, @cue_iid, @estado, @detalle);

    SET @accionId = SCOPE_IDENTITY();

    -- ================================================
    -- 1. VALIDAR ERRORES CRÍTICOS
    -- ================================================
    IF @codaccion = 'open_camera' AND @estado = 'error'
    BEGIN
        EXEC dbo.Sofia_ProcesarEventoCompleto
            @idCta          = @cue_iid,
            @cAlarma        = '_IH',
            @cObservaciones = 'Error al abrir cámara SofIA (estado error)',
            @cData          = @cData,
            @cZona          = @cZona,
            @postImages     = @postImages;
        RETURN;
    END

    IF @codaccion = 'detection_result' AND ISJSON(@detalle) = 1
    BEGIN
        IF JSON_VALUE(@detalle,'$.detector_result.error') IS NOT NULL OR @detalle LIKE '%"error":%'
        BEGIN
            EXEC dbo.Sofia_ProcesarEventoCompleto
                @idCta          = @cue_iid,
                @cAlarma        = '_IH',
                @cObservaciones = 'Error al abrir cámara SofIA (JSON error)',
                @cData          = @cData,
                @cZona          = @cZona,
                @postImages     = @postImages;
            RETURN;
        END
    END

    -- ================================================
    -- 3. OBSTRUCCIÓN
    -- ================================================
    IF @codaccion='detection_result' AND ISJSON(@detalle)=1
    BEGIN
        DECLARE @obstructionScore FLOAT=TRY_CAST(JSON_VALUE(@detalle,'$.detector_result.obstruction_score') AS FLOAT);
        IF @obstructionScore IS NOT NULL AND @obstructionScore>0.4
        BEGIN
            SET @cObservaciones = 'Cámara obstruida (' + CAST(@obstructionScore AS NVARCHAR(10)) + ')';
            EXEC dbo.Sofia_ProcesarEventoCompleto
                @idCta          = @cue_iid,
                @cAlarma        = '_II',
                @cObservaciones = @cObservaciones,
                @cData          = @cData,
                @cZona          = @cZona,
                @postImages     = @postImages;
        END
    END

    -- Si estado NO es found, terminar
    IF @codaccion='detection_result' AND @estado<>'found'
        GOTO FIN;

    -- ================================================
    -- 4. DETECCIONES
    -- ================================================
    IF @codaccion='detection_result' AND ISJSON(@detalle)=1 AND @estado='found'
    BEGIN
        DECLARE @personCount INT=TRY_CAST(JSON_VALUE(@detalle,'$.detector_result.classes_detected.person.max_count') AS INT);
        DECLARE @hasFire BIT=0,@hasSmoke BIT=0,@hasPerson BIT=0,@hasAnimal BIT=0,@hasVehicle BIT=0;

        SELECT 
            @hasFire=CASE WHEN [key]='Fire' THEN 1 ELSE @hasFire END,
            @hasSmoke=CASE WHEN [key]='Smoke' THEN 1 ELSE @hasSmoke END,
            @hasPerson=CASE WHEN [key]='person' THEN 1 ELSE @hasPerson END,
            @hasAnimal=CASE WHEN [key] IN('bird','cat','dog','horse','sheep','cow','elephant','bear','zebra','giraffe') THEN 1 ELSE @hasAnimal END,
            @hasVehicle=CASE WHEN [key] IN('bicycle','car','motorcycle','airplane','bus','train','truck','boat') THEN 1 ELSE @hasVehicle END
        FROM OPENJSON(@detalle,'$.detector_result.classes_detected');

        -- Determinar alarma principal
        IF @hasFire=1 OR @hasSmoke=1
            SET @cAlarma='_IP';
        ELSE IF @hasPerson=1
            SET @cAlarma='_ID';
        ELSE IF @hasAnimal=1
            SET @cAlarma='_IE';
        ELSE IF @hasVehicle=1
            SET @cAlarma='_IF';

        EXEC dbo.Sofia_ProcesarEventoCompleto
            @idCta          = @cue_iid,
            @cAlarma        = @cAlarma,
            @cObservaciones = 'Detección confirmada por SofIA',
            @cData          = @cData,
            @cZona          = @cZona,
            @postImages     = @postImages;

        -- Aforo
        IF @personCount IS NOT NULL AND @personCount>1
        BEGIN
            SET @cObservaciones = 'Detección de aforo: '+CAST(@personCount AS NVARCHAR(10))+' personas';
            EXEC dbo.Sofia_ProcesarEventoCompleto
                @idCta          = @cue_iid,
                @cAlarma        = '_IL',
                @cObservaciones = @cObservaciones,
                @cData          = @cData,
                @cZona          = @cZona,
                @postImages     = @postImages;
        END
    END

    -- ================================================
    -- 5. FINALIZACIÓN DE RONDA
    -- ================================================
    IF @codaccion='event_complete'
    BEGIN
        IF EXISTS(SELECT 1 FROM _datos..p_sofia_accion WHERE sof_cueiid=@cue_iid AND sof_ccodaccion='detection_result' AND sof_cestado='found')
            SET @cAlarma='_IB'; -- con novedades
        ELSE
            SET @cAlarma='_IA'; -- sin novedades

        SET @cObservaciones = 'Ronda SofIA completada: '+CASE WHEN @cAlarma='_IB' THEN 'con novedades' ELSE 'sin novedades' END;
        EXEC dbo.Sofia_ProcesarEventoCompleto
            @idCta          = @cue_iid,
            @cAlarma        = @cAlarma,
            @cObservaciones = @cObservaciones,
            @cData          = @cData,
            @cZona          = @cZona,
            @postImages     = @postImages;
    END

    FIN:

    SELECT sof_iidkey, sof_reciid, sof_ccodaccion, sof_cueiid, sof_cestado, sof_cdetalle, sof_isofechahora
    FROM _datos..p_sofia_accion WHERE sof_iidkey=@accionId;
END
