<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <variable name="logFilePath" value="${basedir}/Logs/web_${shortdate}.log" />
  <variable name="hmacFilePath" value="${basedir}/Logs/hmac_${shortdate}.log" />
  <variable name="pushFilePath" value="${basedir}/Logs/push_${shortdate}.log" />
  <variable name="n2pFilePath" value="${basedir}/Logs/n2p_${shortdate}.log" />
  <targets>
    <target name="logfile" xsi:type="File"
                fileName="${logFilePath}"
                archiveAboveSize="2000000"
                archiveEvery="Day"
                archiveNumbering = "Rolling"
                maxArchiveFiles="3" />

    <target name="hmacfile" xsi:type="File"
                fileName="${hmacFilePath}"
                archiveAboveSize="2000000"
                archiveEvery="Day"
                archiveNumbering = "Rolling"
                maxArchiveFiles="3" />
	<target name="pushfile" xsi:type="File"
                fileName="${pushFilePath}"
                archiveAboveSize="2000000"
                archiveEvery="Day"
                archiveNumbering = "Rolling"
                maxArchiveFiles="3" />
	<target name="n2pfile" xsi:type="File"
                fileName="${n2pFilePath}"
                archiveAboveSize="2000000"
                archiveEvery="Day"
                archiveNumbering = "Rolling"
                maxArchiveFiles="3" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="logfile">
		<filters>
			<when condition="equals(logger, 'hmac')" action="Ignore"/>
			<when condition="equals(logger, 'n2p')" action="Ignore"/>
			<when condition="equals(logger, 'push')" action="Ignore"/>
		</filters>
	</logger>
	<logger name="hmac" minlevel="Trace" writeTo="hmacfile" />
	<logger name="n2p" minlevel="Trace" writeTo="n2pfile" />
	<logger name="push" minlevel="Trace" writeTo="pushfile" />
  </rules>
</nlog>
