<configuration>
	<configSections>
		<section name="RazorSourceProvider" type="Slbf.UI.RazorSourceSection, Slbf.Ui" />
		<section name="OAuthConfig" type="Slbf.Authentication.OAuth.Common.Configuration.OAuthConfiguration, Slbf.Authentication.OAuth.Common" />
		<section name="DoorKeyProvider" type="Slbf.DoorKeySection, Slbf" />
	</configSections>
	
	<OAuthConfig fqnTokenStore="Slbf.Authentication.OAuth.Store.CRMTokenStore, Slbf.Authentication.OAuth.Store" fqnConsumerStore="Slbf.Authentication.OAuth.Store.CRMConsumerStore, Slbf.Authentication.OAuth.Store" />

	<RazorSourceProvider defaultProvider="UIApplication">
		<providers>
		<add name="Slbf" type="Slbf.UI.SlbfRazorSourceProvider" />
			<add name="virtualjs_" type="Slbf.UI.SlbfRazorJavascriptSourceProvider, Slbf.UI" ConnectionString="Slbf" />
			<add name="virtualhandler_" type="Slbf.UI.SlbfRazorJavascriptSourceProvider, Slbf.UI" ConnectionString="Slbf" />
			<add name="virtualcss_" type="Slbf.UI.SlbfRazorJavascriptSourceProvider, Slbf.UI" ConnectionString="Slbf" />
			<add name="virtualuiapplication_" type="Slbf.UI.SlbfRazorUIApplicationSourceProvider, Slbf.UI" ConnectionString="Slbf" />
			<add name="UIApplication" type="Slbf.UI.UIApplicationRazorSourceProvider, Slbf.UI" ConnectionString="Slbf" />
			<add name="Razor" type="Slbf.UI.SlbfRazorSourceProvider, Slbf.UI" ConnectionString="Slbf" />
		</providers>
	</RazorSourceProvider>

	<DoorKeyProvider defaultProvider="DefaultDoorKey">
		<providers>
			<add name="DefaultDoorKey" type="Slbf.DefaultDoorKeyProvider" />			
		</providers>
	</DoorKeyProvider>
	
	<connectionStrings configSource="connections.config" />

	<system.web>



		<caching>
		  <outputCacheSettings>
			<outputCacheProfiles>
			  <add name="Css" duration="0" varyByParam="*" />
			  <add name="Js" duration="0" varyByParam="*" />
			</outputCacheProfiles>
		  </outputCacheSettings>
		</caching>
		
		<globalization uiCulture="es" culture="es-AR" />
    
		<compilation debug="true" targetFramework="4.0">
		  <assemblies>
			<add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
		  </assemblies>
		</compilation>
		
		<authentication mode="Forms">
			<forms loginUrl="~/oauthlogin.aspx" protection="None" timeout="60" />
		</authentication>
		
		<authorization>
			<allow users="*" />
		</authorization>
		
		<machineKey validationKey="B1D60ECC31789D1266F7452C81EB1DBE8C05F8A0C3826175EE35B2F1981DC94AE3EC36476B603715CB1DA0EA0F06503C90F338E38817DE5D9EAD9B41F61ADEAD" validation="SHA1" decryption="Auto" />
		
		<membership defaultProvider="GlobalUser">
		  <providers>
			<clear />
			<add name="GlobalUser" type="SoftGuard.BusinessObjects.Security.SoftGuardMembershipProvider, SoftGuard.BusinessObjects" applicationName="Desktop" connectionStringName="Slbf" passwordFormat="Clear" />
		  </providers>
		</membership>
			<trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
		<httpRuntime requestValidationMode="2.0" enableVersionHeader="false" maxRequestLength="1048576" requestPathInvalidCharacters="&lt;,>,*,%,&amp;,:,\,?" />
		 <customErrors mode="Off" />
        <pages buffer="false" validateRequest="false" />
   
        

       </system.web>
	
	<appSettings>
		<add key="Slbf.FrameworkObject.DiFerengibleCache" value="true" />
		<add key="webpages:Version" value="1.0.0.0" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="Iteracion" value="2" />
		<add key="Desktop.Wallpapers" value="C:\CloudSecuritySuite\Web\desktop\wallpapers" />
		<add value="191B8347-F356-48DE-8EC1-B996112E80C1" key="OAuthHandler.ClientId" />
		<add value="5D7E0702-803A-4FF9-9A4B-94F51D85A959" key="OAuthHandler.ClientSecret" />
		<add value="/apps/Desktop/20.12.0/" key="OAuthHandler.RedirectUrl" />
		<add key="HMACINVALIDREQUEST" value="LOG" />
   <!-- <add key="VALIDREQUESTMETHODS" value="TOKEN" />
		<add key="VALIDDOMAINS" value="gcs.softguard.com, softguard.com" /> -->
		<add key="Slbf.Data.DataService.CommandTimeout" value="300" />
	</appSettings>
  
	<system.webServer>
		<httpProtocol>
			<customHeaders>
				<add name="X-XSS-Protection" value="1; mode=block"></add>
				<add name="Strict-Transport-Security" value="max-age=31536000" />
				<add name="X-Content-Type-Options" value="nosniff" />
				<remove name="X-Powered-By" />
				<remove name="X-AspNet-Version" />
				<remove name="Server" />
                <add name="Cache-Control" value="no-cache, no-store, must-revalidate, pre-check=0, post-check=0, max-age=0, s-maxage=0" />
                <add name="Pragma" value="no-cache" />
                <add name="Expires" value="0" />
                <add name="Access-Control-Allow-Origin" value="*" />
                <add name="Content-Security-Policy" value="style-src 'self' https://* 'unsafe-inline'; script-src 'self' https://* 'unsafe-inline' 'unsafe-eval'; img-src 'self' https://* data:;" />
                <add name="Permissions-Policy" value="fullscreen=()" />
                <add name="Referrer-Policy" value="same-origin" />
                <add name="X-Frame-Options" value="SAMEORIGIN" />
                <add name="Feature-Policy" value="fullscreen 'none'" />
			</customHeaders>
		</httpProtocol>
		<directoryBrowse enabled="false" />
		<validation validateIntegratedModeConfiguration="false" />
		<modules runAllManagedModulesForAllRequests="true" />
        <defaultDocument>
            <files>
                <add value="OAuthLogin.aspx" />
            </files>
        </defaultDocument>
        <staticContent>
            <remove fileExtension=".avi" />
            <mimeMap fileExtension=".kmz" mimeType="application/vnd.google-earth.kmz" />
            <mimeMap fileExtension=".kml" mimeType="application/vnd.google-earth.kml+xml" />
            <mimeMap fileExtension=".avi" mimeType="video/x-msvideo" />
            <mimeMap fileExtension=".h264" mimeType="video/H264" />
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="1.00:00:00" />
        </staticContent>
        <httpErrors errorMode="Detailed" />
		
	
		<!--httpErrors errorMode="Custom" existingResponse="Replace">
		  <remove statusCode="404" subStatusCode="-1" /> 
		  <error statusCode="404" path="/404.htm" responseMode="ExecuteURL" />
		  <remove statusCode="403" /> 
		  <error statusCode="403" path="/403.htm" responseMode="ExecuteURL" />
		  <remove statusCode="500" /> 
		  <error statusCode="500" path="/500.htm" responseMode="ExecuteURL" />
 		 </httpErrors-->
	
		
		
		<rewrite>
                      
			<rules>
				<!-- Activar para control de acceso LAN/WAN
				<rule name="RequestBlockingRule2" patternSyntax="ECMAScript" stopProcessing="true">
									<match url="^$" />
									<conditions>
										<add input="{REMOTE_ADDR}" pattern="192\.168.*" negate="true" />
									</conditions>
				<action type="CustomResponse" statusCode="403" statusReason="Forbidden: Access is denied." statusDescription="You do not have permission to view this directory or page using the credentials that you supplied." />
							   
				</rule>
				-->

				<rule name="Rewrite LogoDealer">
					<match url="^d/([a-zA-Z0-9_-]+)" />
					<action type="Rewrite" url="?cdealer={R:1}" />
				</rule>
				
                <rule name="RequestBlockingRule1" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{URL}" pattern="/fileupload" />
                    </conditions>
                    <action type="CustomResponse" statusCode="401" statusReason="Unauthorized: Access is denied due to invalid credentials" statusDescription="You do not have permission to view this directory or page using the credentials that you supplied." />
                </rule>
			</rules>
            <outboundRules>
                <rule name="Remove Server Response Header">
                    <match serverVariable="RESPONSE_SERVER" pattern=".*" />
                    <action type="Rewrite" />
                </rule>
            </outboundRules>
		</rewrite>
       
	</system.webServer>
	
	<system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IWSAlarmas" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://wspanico.sonda.com" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWSAlarmas" contract="ServiceReference.IWSAlarmas" name="BasicHttpBinding_IWSAlarmas" />
        </client>
    </system.serviceModel>
	
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
		  <dependentAssembly>F
			<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
			<bindingRedirect oldVersion="1.0.0.0-3.0.0.1" newVersion="3.0.0.1" />
		  </dependentAssembly>
		</assemblyBinding>
	</runtime>
	

</configuration>
