<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Db" connectionString="metadata=res://*/Db.csdl|res://*/Db.ssdl|res://*/Db.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=201.212.1.51;initial catalog=CRM_Evaluando;persist security info=True;user id=sa;password=ncc1701d;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CRM_EvaluandoEntities" connectionString="metadata=res://*/Db.Model1.csdl|res://*/Db.Model1.ssdl|res://*/Db.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=201.212.1.51;initial catalog=CRM_Evaluando;persist security info=True;user id=sa;password=ncc1701d;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>